@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, #283c86, #45a247);
    height: 100vh;
}
#myH1{
    font-weight: 800;
    color: #f0e7e7;
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    
}
.container{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
}
.todo-list{
    background-color:#ffff;
    max-width: 50%;
    padding: 1.5rem;
    /* height: 45vh; */
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.74);
    flex: 3;
    min-height: 45vh;
}
.todo-list h1{
  font-weight: 900;
  color: #283c86;
  font-size: 2rem;
}
.logo{
    width: 30px;
}
.input-field{
    width: 95%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    background-color: #edeef0;
    border-radius: 23px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.74);
    justify-content: space-between;
    flex: 1;
}
#task-in{
    font-size: 1.5rem;
    width: 70vw;
    height: 6vh;
    padding: 1rem;
    border-radius:23px;
    border: none;
    background-color: #f0e7e7;
}
#task-in:focus{
    outline: none;
}
#add-btn{
   font-size: 1.5rem;
   width: 10vw;
   height: 6vh;
   border-radius: 23px;
   border: none;
   background-color: #F5853F;
   cursor: pointer;
   transition: background-color 0.2s ease-in-out;
}
#add-btn:hover{
    background-color: #ff9857;
}
ul li{
    list-style:none;
    font-size: 1.5rem;
    user-select: none;
    padding: 1rem 4rem;
    cursor: pointer;
    position:relative;
}
ul li::before{
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 10px;
    top: 15px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 15px;
}
@media (max-width:1069px) {
    .todo-list{
    max-width: 100%;
    }
}
@media (max-width:499px) {
    #add-btn{
        font-size: 1.5rem;
        height: 6vh;
    }
    .container{
        height: 75%;
    }
    .input-field{
        max-width: 75vw;
    }
    #task-in{
        width: 50vw;
    }
    #add-btn{
      width: 20vw;  
    }
    
}